@charset "UTF-8";

.bgImage{    
	border: 5px solid darkslategray;
    opacity: 1.0;
}

.first_img{
	margin:20px;
    width: 250px;
    height: 200px;
    animation: fadeIN .5s linear;
    opacity: 1.0;
}

img{   
	height: 100px;
    width: 150px;
    padding: 0px;
    margin: 15px;
    opacity: 0.5;
}

.mouseOver{
    opacity: 1.0;
}

.selected{
    border: 6px solid darkslategray;
    opacity: 1.0;
}